<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://scifi-or-fantasy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>scifi-or-fantasy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$scifi-or-fantasy</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:irm1zcqkue.database.windows.net,1433;Initial Catalog=scifi-or-fantasyDB;User ID=sorf_admin@irm1zcqkue;Password=greenIdeas1" Name="Data Source=tcp:irm1zcqkue.database.windows.net,1433;Initial Catalog=scifi-or-fantasyDB;User Id=sorf_admin@irm1zcqkue;Password=greenIdeas1;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MvcMovie.Models.UsersContext, MvcMovie" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MovieDBContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:irm1zcqkue.database.windows.net,1433;Initial Catalog=scifi-or-fantasyDB;User ID=sorf_admin@irm1zcqkue;Password=greenIdeas1" Name="Data Source=tcp:irm1zcqkue.database.windows.net,1433;Initial Catalog=scifi-or-fantasyDB;User Id=sorf_admin@irm1zcqkue;Password=greenIdeas1;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MvcMovie.Models.MovieDBContext, MvcMovie" MigrationConfiguration="MvcMovie.Migrations.Configuration, MvcMovie" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:irm1zcqkue.database.windows.net,1433;Initial Catalog=scifi-or-fantasyDB;User Id=sorf_admin@irm1zcqkue;Password=greenIdeas1;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MovieDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:irm1zcqkue.database.windows.net,1433;Initial Catalog=scifi-or-fantasyDB;User Id=sorf_admin@irm1zcqkue;Password=greenIdeas1;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>